h1{
	text-align: center;
}

p{
	text-align: center;
font-size: 36px;
color: blue;
}

.result {
	height: 50px;
}

.button{
	color: white;
	background-image: linear-gradient(45deg, #3385ff,#ac00e6);
	margin: 0 auto;
	width: 25%;
  height: 70px;
  font-size: 30px;
}
